:root {
    --primary: #ee7b06;
    --heading-color: #400b0b;
    --bg-shade: #fff0ea;
    --github: #e62872;
    --darkmagma: #5c0e0e;
    --burnmagma: #924409;
    --black: #000000;
    --white: #ffffff;
  }